params {    
    infile = "file.vcf.gz"
    ftype = 'bed'
    spp = null
    karyo = null
    bootstrap = 10
    nk = 10
    clumpp_greed = 3
    outfolder = "${baseDir}/OUTPUT"
    allowExtrChr = false
    setHHmiss = false
    moreplinkopt = ''
    subset = 1000000
    skip_full = false
    prune = true
    prune_params = "500 5 0.5"
    mamba = false
    halfcalls = "m"

    // System max resources
    max_memory = (Runtime.runtime.maxMemory() as nextflow.util.MemoryUnit).toGiga().GB
    max_cpus = Runtime.runtime.availableProcessors() == 1 ? 1 : Runtime.runtime.availableProcessors() - 1
    max_time = '240.h'
    help = false
    publish_dir_mode = 'copy'
    extra_cluster_options = ''
    custom_config_version = 'master'
    enable_conda = false
    tracedir = "${params.outfolder}/reports/"
    custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"

}