params {    
    infile = "${baseDir}/test/test"
    ftype = 'bed'
    spp = 'cow'
    bootstrap = 10
    nk = 3
    outfolder = "${baseDir}/test/OUTPUT"
    allowExtrChr = '--allow-extra-chr'
    setHHmiss = '--set-hh-missing'
    moreplinkopt = ''
    subset = 500
    prune = false
    prune_params = "500 5 0.5"
    help = false
}
