/*
 * ------------------------------------------------------
 *  Based on the nf-core/rnaseq Nextflow base config file
 * ------------------------------------------------------
 */

executor{
  name = "uge"
	queueSize = 250
  cpu = 1
  memory = 8.GB
  time = 23.h
}

process {

  beforeScript = """
  . /etc/profile.d/modules.sh
  sleep 2;
  module load anaconda
  source activate DataPy
  """
  penv = "sharedmem"

  cpus = 1
  memory = 4.GB
  time = 4.h
  clusterOptions = "-P roslin_ctlgh -l h_vmem=${memory.toString().replaceAll(/[\sB]/,'')}"

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
  maxRetries = 5
  maxErrors = '-1'

  withName: transpose {
    module = 'igmm/apps/plink/1.90b4'
    executor = "uge"
    cpus = 1
    memory = 8.GB
    time = 12.h
  }
  withName: makeBSlists {
    module = 'igmm/apps/plink/1.90b4'
    executor = "uge"
    cpus = 1
    memory = 8.GB
    time = 8.h
  }
  withName: getBSlists {
    module = 'igmm/apps/plink/1.90b4'
    executor = "uge"
    cpus = 1
    memory = 8.GB
    time = 8.h
  }
  withName: ibs {
    module = [ "R/3.5.3", 'igmm/apps/plink/1.90b4', "roslin/gcc" ]
    executor = "uge"
    cpus = 4
    memory = 8.GB
    time = 12.h
  }
  withName: concatenateBootstrapReplicates {
    executor = "uge"
    cpus = 1
    memory = 8.GB
    time = 1.h
  }
  withName: consensus {
    executor = "uge"
    cpus = 1
    memory = 8.GB
    time = 4.h
  }
  withName: fixTree {
    executor = "uge"
    cpus = 1
    memory = 8.GB
    time = 2.h
  }
  withName: graphlan {
    executor = "uge"
    cpus = 1
    memory = 8.GB
    time = 8.h
  }
}

